@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 600;
  font-style: italic;

}

.font-permanent-marker {
  font-family: var(--font-permanent-marker), cursive;
  font-weight: 400;
  font-style: normal;
}

.font-akaya-kanadaka {
  font-family: var(--font-akaya-kanadaka), system-ui;
  font-weight: 800;
  font-style: normal;
}

.font-archivo-black {
  font-family: var(--font-archivo-black), sans-serif;
  font-weight: 600;
  font-style: normal;
}

